.main{
    height: 100%;
    width: 100%;
    background-color: rgb(255, 255, 255);
   
}

.douw{
    display: flex;
    height: 90%;
    width: 100%;
    

}

.cabeçalio{
    width: 100%;
    height: 87px;
    background-color: rgb(255, 255, 255);
    display: flex;
    justify-content: space-between;
    border: 2px solid rgb(209, 197, 197);
    align-items: center;
}

.cabeçalio img{
margin-left: 40px;
}

.cabeçalio input{
    width: 20%;
    padding: 15px;
    border-radius: 10px;
    margin-right: 70px;
}

.left-side{
    width: 358px;
    height: 100%;
    background-color: rgb(255, 255, 255);
    border-right: 2px solid rgb(209, 197, 197);
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-y:scroll ;
}

.notes{
    display: flex;
    justify-content: start;
    height: 10%;
    width: 80%;
    background-color: rgb(238, 233, 233);
    border-radius: 10px;
    margin-top: 20px;
    
}

.img-notes{
height: 90%;
width: 20%;
object-fit: cover;
border-radius: 8px;
display: block;
margin: 5px 0px 10px 5px;

}

.btn-notes{
    width: 80%;
    margin: 30px 0px 10px;
    background-color: rgb(25, 25, 218);
    border-radius: 10px;
    height: 40px;
    color: white;
    border: none;
}

.description{
margin: 3px 0px 1;
}

.c-detalhes{
    display: flex;
    margin-top: 10px;
}

.detalhes{
    font-size: 10px;
    width: 50px;
    height: 13px;
    display: flex;
    background-color: rgb(173, 171, 171);
    color: black;
    margin-right: 10px;
    border-radius: 6px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    padding: 8px;
}

.itens{
    display: flex;
    flex-direction: column;
    margin: 5px;
    width: 70%;
    height: 80%px;
    
}

.any-det{
   margin-left: 10px;
}

.every{
    display: flex;
    flex-direction: column;
    height: 80%;
    width: 100%;
    align-items: center;
    
}

.center-panel{
    width: 63%;
    height: 100%;
    background-color: transparent;
    display: flex;
    justify-content: center;
    border-right: 1px solid rgb(209, 197, 197);

}

.c-all{
    height: 100%;
    width: 90%;
    display: flex;
    flex-direction: column;
    
}


.center-panel img{
    height: 135px;
    width: 100%;
    margin: 30px 0 16px 0 ;
    border-radius: 5px;
    
   
}

.descript-upp{
    font-size: 20px;
    border-bottom: 1px solid rgb(209, 197, 197);
    display: flex;
    flex-direction: column;
}

.descript-upp h5{
    margin:5px 5% 5px 0 ;
}

.c-detalhes{
    display: flex;
    
}

.obj{
    display: flex;
    font-size: 15px;
    height: 100%;
    width: 30%;
    justify-content: space-between;
}

.title{
    padding: 10px;
    background-color: transparent;
    width: 30%;
    border: none;
    font-size: 20px;
    
}

.descript-center{
    width: 100%;
    height: 60%;
   
    border-bottom: 1px solid rgb(199, 195, 195);;
}

.descript-daw-obj{
    width: 100%;
    height: 80%;
    margin: 30px 0 30px 0;
    background-color: transparent;
    border: none;
    resize: none;
    font-size: 15px;
    
}

.btn-daw{
    width: 100px;
    margin:30px 20px ;
    padding: 13px;
    border-radius: 10px;
    background-color: rgb(42, 42, 230);
    color: #FFFFFF;
    border: none;
}

.btn-daw-can{
    width: 100px;
    margin:30px 20px ;
    padding: 13px;
    border-radius: 10px;
    background-color: #F3F5F8;
    color: black;
    border: none;
}

.rigth-side{
     width: 358px;
    height: 100%;
    background-color: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.selecter{
    height: 20px;
}

.delete{
   width: 80%;
    margin: 30px 0px 10px;
    background-color: rgb(185, 185, 202);
    border-radius: 10px;
    height: 40px;
    color: rgb(0, 0, 0);
    border: none
}