<main class="main">

    <header class="cabeçalio">

        <img [src]="darkmode == true? 'img/logo22.png' : 'img/logo.png'">
        <div class="pesquisa">
            <input type="text" placeholder="Search by title, content, or tags…">
            <div class="icons">
                <button class="darkmode" (click)="ligarDesligarDarkMode()"><i
                        class="fa-regular fa-lightbulb"></i></button>
                <button class="logout" (click)="onClickLogout()"><i class="fa-solid fa-power-off"></i></button>
            </div>
        </div>
    </header>

    <div class="douw">

        <div class="left-side">

            <button class="btn-notes" (click)="criarNota()">+ Create New Note</button>

            <div class="every">

                @for (nota of notas; track $index){
                <button class="notes" (click)="onNoteClick(nota)">


                    <img class="img-notes"  src='/img/essa-mesma.jpg' alt="preview">

                    <div class="itens">

                        <div class="description">
                            {{nota.titulo}}

                            @if(tagSelecionada){


                            <div class="c-tags">

                                <div class="tags">
                                    <p>{{nota.tags[0]}}</p>
                                </div>

                            </div>
                            }

                        </div>

                    </div>

                </button>

                }



            </div>

        </div>

        @if(notaSelecionada != null){

        <div class="center-panel">

            <div class="c-all">

                <img *ngIf="(urlImagem || notaSelecionada.id)" [src]="notaSelecionada.imagemURL || `img/essa-mesma.jpg`" alt="preview" />
                
                <div class="descript-upp">
                    <input class="title" [formControl]="tituloInput" type="text" value={{notaSelecionada.titulo}}>

                    <div class="c-detalhes"></div>

                    <div class="obj">

                        <h5>Tags</h5>

                        <select class="selecter" [(ngModel)]="tagSelecionada">
                            <option value="">selecione uma etiqueta</option>
                            @for(tag of tagsDisponiveis; track $index){
                            <option [value]="tag">{{ tag }}</option>
                            }
                        </select>

                    </div>

                    <div class="obj">
                        <h5>Last edited</h5>
                        <h5>29 Oct 2025</h5>
                    </div>

                </div>

                <div class="descript-center">
                    <textarea [(ngModel)]="notaSelecionada.descricao" class="descript-daw-obj" name="olouco" id=""
                        placeholder="Digite a sua anotação"></textarea>
                </div>

                <div class="descript-daw">

                    <button class="btn-daw" (click)="onNoteSave()">Save Note</button>

                    <button class="btn-daw-can" (click)="cancelarNota()">Cancelar</button>

                </div>

            </div>

        </div>

        <div class="rigth-side">

            <div class="alt-im">

             <label for="file">Nova imagem</label>
                <input type="file" id="file" class="file__input" accept="image/*" (change)="definirImagem($event)"/>

            </div>

            <button class="delete" (click)="deletarNotaSelecionada()">Delete</button>

        </div>

        }@else{

        <p>Nenhuma nota seleconada</p>
        }

    </div>

</main>